<div class='homeWrapper'>
  <div class='pandaText'>
    <h1>Pandas</h1>
    <p>
        Giant pandas (often referred to as simply “pandas”) are black and 
        white bears. In the wild, they are found in thick bamboo forests, 
        high up in the mountains of central China
    </p>
    <br>
    <p>
        These magnificent mammals are omnivores. 
        But whilst pandas will occasionally eat small animals and fish, 
        bamboo counts for 99 percent of their diet.
    </p>
    <br>
    <p>
        The giant panda’s scientific name is Ailuropoda melanoleuca, which means “black and white cat-foot”.
    </p>
  </div>

  <img src="../../assets/panda.jpg" alt="">
</div>
