<div class='homeWrapper'>
  <div class='pandaText'>
    <h1>Pandas</h1>
    <p>
        Giant pandas (often referred to as simply “pandas”) are black and 
        white bears. In the wild, they are found in thick bamboo forests, 
        high up in the mountains of central China
    </p>
    <br>
    <p>
        These magnificent mammals are omnivores. 
        But whilst pandas will occasionally eat small animals and fish, 
        bamboo counts for 99 percent of their diet.
    </p>
    <br>
    <p>
        The giant panda’s scientific name is Ailuropoda melanoleuca, which means “black and white cat-foot”.
    </p>
<!--     <br>
    <p>
        Giant pandas grow to between 1.2m and 1.5m, and weigh between 75kg and 135kg. 
        Scientists aren’t sure how long pandas live in the wild, but in captivity they live to be around 30 years old.
    </p> -->
  </div>

  <img src="../../assets/panda.jpg" alt="">
</div>
