<form class='contactWrapper' #form = 'ngForm' (ngSubmit) = "onSubmit(form.value)">
  <div class="emailField">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" id="email" placeholder="Enter your email" ngModel required>
  </div>
  
  <div class="messageField">
    <label for="message">Message</label>
    <br>
    <textarea name="message" id="message" rows="10" placeholder="Enter your message"  ngModel required></textarea>
  </div>
  
  <button type="submit">Submit</button>
  
</form>