nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        padding: 1vh 2vh;
        text-decoration: none;
        color: black;
        font-size: 1.3em;
        &:hover {
            background-color: rgba(161, 161, 161, 0.849);
        }
    }
}

.activePage {
    background-color: rgb(236, 236, 236);
}

@media only screen and (min-width: 2100px) {
    nav {
        a {
            font-size: 2.3em;
        }
    }
  }