@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    font-family: 'Montserrat', sans-serif;
}

